/* google fonts */

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}
h5,h1{
    font-weight: bold;
}
.heading-style{
color: palevioletred;
}
.input{
    margin-right: 10px;
}
.button-style{
   background-color: palevioletred;
   
}
.save-style{
    background-color: rgb(233, 230, 230);
}
